<section class="editmemo">
  <form action="/memos/<%= @memo['memo_id'] %>" method="post">
    <input type="text" name="title" value="<%= @memo['memo_title'] %>">
    <textarea name="body"><%= @memo['memo_body'] %></textarea>
    
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="変更" class="btn">
  </form>
</section>
