<section class="top">
  <div>
    <a href="/memos/new" class="btn">追加</a>
  </div>

  <ul>
    <% @comments.each do |comment| %>
    <li><a href="memos/<%= comment['id'] %>"><%= comment['title'] %></a></li>
    <% end %>
  </ul>
</section>
