<section class="top">
  <div>
    <a href="/memos/new" class="btn">追加</a>
  </div>

  <ul>
    <% @memos.each do |memo| %>
    <li><a href="memos/<%= memo['memo_id'] %>"><%= memo['memo_title'] %></a></li>
    <% end %>
  </ul>
</section>
